extends layout

block scripts
	script(type='text/javascript', src='/javascripts/EaselJS-release_v0.6.0/src/easeljs/utils/UID.js')
	script(type='text/javascript', src='/javascripts/EaselJS-release_v0.6.0/src/easeljs/geom/Matrix2D.js')
	script(type='text/javascript', src='/javascripts/EaselJS-release_v0.6.0/src/easeljs/events/EventDispatcher.js')
	script(type='text/javascript', src='/javascripts/EaselJS-release_v0.6.0/src/easeljs/display/DisplayObject.js')
	script(type='text/javascript', src='/javascripts/EaselJS-release_v0.6.0/src/easeljs/display/Container.js')
	script(type='text/javascript', src='/javascripts/EaselJS-release_v0.6.0/src/easeljs/display/Stage.js')
	script(type='text/javascript', src='/javascripts/EaselJS-release_v0.6.0/src/easeljs/events/MouseEvent.js')
	script(type='text/javascript', src='/javascripts/EaselJS-release_v0.6.0/src/easeljs/display/Shape.js')
	script(type='text/javascript', src='/javascripts/EaselJS-release_v0.6.0/src/easeljs/display/Graphics.js')
	script(type='text/javascript', src='/javascripts/EaselJS-release_v0.6.0/src/easeljs/utils/Ticker.js')
	script(type='text/javascript', src='/javascripts/EaselJS-release_v0.6.0/src/easeljs/display/Text.js')
	script(type='text/javascript', src='/javascripts/EaselJS-release_v0.6.0/src/easeljs/ui/Touch.js')
	script(type='text/javascript', src='/javascripts/EaselJS-release_v0.6.0/src/easeljs/display/Bitmap.js')

	script(type='text/javascript', src='/javascripts/PreloadJS-release_v0.3.0/src/preloadjs/AbstractLoader.js')
	script(type='text/javascript', src='/javascripts/PreloadJS-release_v0.3.0/src/preloadjs/LoadQueue.js')
	script(type='text/javascript', src='/javascripts/PreloadJS-release_v0.3.0/src/preloadjs/TagLoader.js')
	script(type='text/javascript', src='/javascripts/PreloadJS-release_v0.3.0/src/preloadjs/XHRLoader.js')

	script(type='text/javascript', src='/javascripts/async.js')
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript', src='/javascripts/Y.js')

block content
	h1= title
	div#board
		canvas#boardCanvas(width=998, height=667)
	div#loader